%h1 Contact Us

%h2 You may contact any of the developers below for more information, queries or suggestions.

%table#houses
  %thead
    %tr
      %th Name
      %th Email
  %tbody
    %tr
      %td #{ link_to 'Ankush Arora', 'https://www.linkedin.com/in/ankusharora10'}
      %td aarora3@binghamton.edu
    %tr
      %td #{ link_to 'Raksha Sindhu', 'https://www.linkedin.com/in/sindhuraksha'}
      %td rsindhu1@binghamton.edu
    %tr
      %td #{ link_to 'Rasika M Khiste', 'https://www.linkedin.com/in/rasika-khiste-2370a541'}
      %td rkhiste1@binghamton.edu
    %tr
      %td #{ link_to 'Akshay Kumar Dani', 'https://www.linkedin.com/in/akdani'}
      %td adani1@binghamton.edu
    %tr
      %td #{ link_to 'Prateek Dobriyal', 'https://www.linkedin.com/in/prateek-dobriyal-513265a8'}
      %td pdobriy1@binghamton.edu
    %tr
      %td #{ link_to 'Ankitha K', 'https://www.linkedin.com/in/sai-ankitha-katravulapalli'}
      %td ankithaa3094@gmail.com
    %tr
      %td #{ link_to 'Kalyani Visapurkar', 'https://www.linkedin.com/in/kalyani-visaprkar-4b068733'}
      %td kalyani.visapurkar@gmail.com

<br /><br />
= link_to 'Back to Welcome page', users_path