-# edit.html.haml using partial

%h1 Edit House Listing

= form_tag house_path(@house), :method => :put do

  = label :house, :title, 'Title'
  = text_field :house, 'title'

  = label :house, :release_date, 'Date available On'
  = date_select :house, :release_date
  
  = label :house, :rating, 'Area'
  = text_field :house, :rating
  
  = label :house, :price, 'Price per day'
  = number_field :house, :price
  
  = label :house, :name, 'Owner name'
  = text_field :house, :name
  
  = label :house, :email, 'Owner email'
  = text_field :house, :email
  
  = label :house, :contactnumber, 'Owner contact number'
  = text_field :house, :contactnumber

  = submit_tag 'Update House Listing'
%br
%br
= link_to 'Back to house listings', houses_path