%h1 Post an Ad

= form_tag houses_path do

  - if @house.errors.any?
    #error_explanation
      %h4
        = pluralize(@house.errors.count, "error")
        "prohibited this house from being saved:"
      %ul 
        - @house.errors.full_messages.each do |msg|
          %li= msg
  
  = label :house, :title, 'House Number / Street'
  = text_field :house, 'title'

  = label :house, :rating, 'Area'
  = select :house, :rating, ['Vestal','Binghamton','Downtown','Endicott']

  = label :house, :price, 'Price'
  = text_field :house, 'price'

  = label :house, :release_date, 'Available From'
  = date_select :house, :release_date

  = label :house, :release_date, 'Available To'
  = date_select :house, :todate
  
  = label :house, :description, 'Description'
  = text_field :house, :description

  = label :house, :release_date, 'Owner'
  = text_field :house, :name

  = label :house, :release_date, 'Owner Email'
  = email_field :house, :email

  = label :house, :release_date, 'Owner Contact Number'
  = text_field :house, :contactnumber

  = submit_tag 'Submit'
%p~ "\n"
%p~ "\n"
= link_to 'Back to House Listings', houses_path
%p~ "\n"