%h1 Post an Ad

= form_tag houses_path do

  = label :house, :title, 'House Number / Street'
  = text_field :house, 'title'

  = label :house, :rating, 'Area'
  = select :house, :rating, ['Vestal','Binghamton','Downtown','Endicott']

  = label :house, :release_date, 'Date available On'
  = date_select :house, :release_date

  = submit_tag 'Save Changes'
  
  
= link_to 'Back to House Listings', houses_path
%p~ "\n"