-# in app/views/houses/show.html.haml

%h2 Details about #{@house.title}

%table#details
    %tr
        <td> <b>Area:</b>
        = @house.rating
    %tr
        <td> <b>Date available from:</b>
        = @house.release_date.strftime("%B %d, %Y")
    %tr
        <td> <b>Date available to:</b>
        = @house.todate.strftime("%B %d, %Y")
    %tr
        <td> <b>Price per day:</b>
        = @house.price
    %tr
        <td> <b>Owner Name:</b>
        = @house.name
    %tr
        <td> <b>Owner email:</b>
        = @house.email
    %tr
        <td> <b>Owner contact number:</b>
        = @house.contactnumber

%h4 More Description:

%p#description= @house.description
%br
%br
-#= link_to 'Edit', edit_house_path(@house)
-#= button_to 'Delete', house_path(@house), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to house listings', houses_path