<style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 100% }
</style>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR2uvPl-sFxgSAOVoZfRU3enAA86HeFvo&sensor=false">
</script>
<script type="text/javascript">
  function set_map(state, city){
    var mapOptions = {
      center: new google.maps.LatLng(25.687944,-100.309403),
        zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
    mapOptions);
      if(state == ""){
      address = city;
    }else{
      address = state + ',' + city;
    }
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({
      'address':address
    },
      function(result, status){
      if (status == google.maps.GeocoderStatus.OK){
        map.setCenter(result[0].geometry.location);
          var marker = new google.maps.Marker({
          map: map,
          position: result[0].geometry.location
        });
      }else{
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
    return false;
  }
    $(document).ready(function(){
    set_map('<%= @house.title %>', '<%= @house.rating %>');
    })
</script>
<p id="notice"><%= notice %></p>
<h2>
  Details about 
  <%= @house.title %>
</h2>
<p>
  <strong>Area:</strong>
  <%= @house.rating %>
</p>
<p>
  <strong>Date available from:</strong>
  <%= @house.release_date.strftime("%B %d, %Y") %>
</p>
<p>
  <strong>Date available to:</strong>
  <%= @house.todate.strftime("%B %d, %Y") %>
</p>
<p>
  <strong>Price per day:</strong>
  <%= @house.price %>
</p>
<p>
  <strong>Owner name:</strong>
  <%= @house.name %>
</p>
<p>
  <strong>Owner email:</strong>
  <%= @house.email %>
</p>
<p>
  <strong>Owner contact number:</strong>
  <%= @house.contactnumber %>
</p>
<p>
  <strong>More Description:</strong>
  <%= @house.description %>
</p>

<%= link_to 'Book this house', house_path(@house), :method => :delete %>
<br>
<%= link_to 'Edit', edit_house_path(@house) %>
<br>
<%= link_to 'Back to house listings', houses_path %>

<br><br>
<label>Location :</label>
  <div id="map-canvas" style="width:300px;height:200px"/>
  
