<p id="notice"><%= notice %></p>

<h1>QuickRent Admin page</h1>

<table border="1">
  <thead>
    <tr>
      <th>User Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Contact Number</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.contactnumber %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'House Listings', houses_path %>

<br>
<br>
<%= link_to 'Back to Welcome page', users_path %>
