<style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 100% }
</style>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR2uvPl-sFxgSAOVoZfRU3enAA86HeFvo&sensor=false">
</script>
<script type="text/javascript">
  function set_map(state, city){
    var mapOptions = {
      center: new google.maps.LatLng(25.687944,-100.309403),
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
    mapOptions);
      if(state == ""){
      address = city;
    }else{
      address = state + ',' + city;
    }
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({
      'address':address
    },
      function(result, status){
      if (status == google.maps.GeocoderStatus.OK){
        map.setCenter(result[0].geometry.location);
          var marker = new google.maps.Marker({
          map: map,
          position: result[0].geometry.location
        });
      }else{
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
    return false;
  }
    $(document).ready(function(){
    set_map('<%= @user.city %>', '<%= @user.house_address %>');
  })
</script>
    
<p id="notice"><%= notice %></p>
<h1>My Account</h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Contact Number:</strong>
  <%= @user.contactnumber %>
</p>

<p>
  <strong>House Address:</strong>
  <%= @user.house_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<br><br>
<%= link_to 'History' , user_history_path(:name => @user.name) %>
<br><br>
<%= link_to 'Back to Welcome page', users_path %>
<br><br>
<%= link_to 'House Listings', houses_path %>
<br><br>
<label>Location :</label>
  <br />
  <div id="map-canvas" style="width:300px;height:200px"/>

