<h2>
  Details about 
  <%= @dealer.name %>
</h2>
<p>
  <strong>Area:</strong>
  <%= @dealer.area %>
</p>

<p>
  <strong>Owner email:</strong>
  <%= @dealer.email %>
</p>
<p>
  <strong>Owner contact number:</strong>
  <%= @dealer.contactnumber %>
</p>


<%= link_to 'Back to Property Dealer listings', dealers_path %>

